{% load staticfiles %}
<!DOCTYPE html>
<html>
  <head>
    <title>ArcGIS REST Feature Service</title>
    <script src="https://code.jquery.com/jquery-1.11.2.min.js"></script>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css">
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/js/bootstrap.min.js"></script>
    <link rel="stylesheet" href="https://openlayers.org/en/v3.11.1/css/ol.css" type="text/css">
    <script src="https://openlayers.org/en/v3.11.1/build/ol.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/ramda/0.24.1/ramda.js"></script>

    <link rel="stylesheet" type="text/css" href="{% static 'enrich/css/app.css' %}" />

  </head>
  <body class="container-fluid">
    <div class="row-fluid">
      <div>
        <div id="map"><div id="popup"></div></div>
      </div>
    </div>
    <div class="row-fluid">
      <div id="info" >&nbsp;</div>
      <label>Paste json data here</label>
      <textarea id='dispatchData'>
      </textarea>
      <button id='submit' type="button">Submit</button> 
    </div>
  </body>
  <script type='text/javascript' src="{% static 'enrich/js/map.js' %}"></script>
  <script type='text/javascript' src="{% static 'enrich/js/app.js' %}"></script>
</html>